@keyframes fadeDown {
    0% {opacity: 0%;transform: translateY(-30vh);}
    100% {opacity: 100%;}
}

@keyframes fadeSpread {
    0% {opacity: 0%;letter-spacing: -28px;}
    100% {opacity: 100%; letter-spacing: 5px;}
}

@keyframes bob {
    0% {margin-bottom: 0px;}
    100% {margin-bottom: 10px;}
}