@mixin flexCenter($flexDirection) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $flexDirection;
}

@mixin flexAround($flexDirection) {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: $flexDirection;
}
