.navbar {
	position: absolute;
	width: 100%;
	z-index: 2;
}

nav {
	height: 10vh;
	width: 100%;
	color: white;
	font-family: "Roboto Mono", monospace;
	font-weight: 200;
}

.nav-links {
	@include flexAround(row);
	list-style: none;
	height: 100%;
	width: 100%;
	margin-right: 15px;
	margin-left: auto;
	li a {
		color: $textColour;
		text-decoration: none;
		font-size: 18px;
		border-radius: $borderRadius;
		padding: 10px 15px;
		transition: all 0.5s ease;
	}
	i {
		color: white;
		padding: 10px $borderRadius;
		font-size: 18px;
		border-radius: $borderRadius;
		cursor: pointer;
		transition: all 0.5s ease;
	}
	.home-button {
		flex-grow: 0.25;
	}
	a:hover {
		background: rgba(255, 255, 255, 0.25);
		transition: all ease 0.5s;
	}
}

.menu-line {
	display: none;
	transition: 0.5s ease all;
}

#name {
	display: none;
	border-radius: 10px;
	padding: 10px 15px;
	transition: 0.5s ease all;
}

#name:hover {
	background-color: rgba(255, 255, 255, 0.25);
}
