// Colour Scheme
$backgroundColour: #0c2031;
$textColour: #ffffff;

$gray: #121212;
$gray2: #1e1e1e;
$gray3: #2a2a2a;
$gray4: #353535;
$transparent: rgba(0, 0, 0, 0);

// Icons
$iconSize: 40vw;
$rowAngle: 40deg;
$iconMoveSpeed: 150s;
$iconInSpeed: 1.5s;

// Misc
$borderRadius: 15px;
