@import "variables";
@import "landing";
@import "icons";
@import "mixins";
@import "navbar";

// Resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 12px;
		background-color: transparent;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background-color: $gray3;
		border-radius: 20px;
		border: 3px solid $transparent;
	}

	/* Firefox Scroll bar*/
	scrollbar-width: thin;
	scrollbar-color: $gray3 $transparent;
}
